{% extends 'base.html.twig' %}

{% block title %}Agence index{% endblock %}

{% block body %}
    <h1>Agence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Num_Tel</th>
                <th>Adress_Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agence in agences %}
            <tr>
                <td>{{ agence.id }}</td>
                <td>{{ agence.Nom }}</td>
                <td>{{ agence.NumTel }}</td>
                <td>{{ agence.AdressVille }}</td>
                <td>
                    <a href="{{ path('agence_show', {'id': agence.id}) }}">show</a>
                    <a href="{{ path('agence_edit', {'id': agence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agence_new') }}">Create new</a>
{% endblock %}
